.announcement-module {
    border: 7px double black;
    width: 20rem;
    position: absolute;
    bottom: 12rem;
    right: 2rem;
    padding: 1.5rem;
    background-color: wheat;
    z-index: 998;

    &__text {
        font-size: 1rem;
    }
}