.announcement-module {
    border: 7px double black;
    width: fit-content;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;

    &__text {
        font-size: 1.1rem;
    }
}