.four-player-game {

    &__flex-container {
        position: relative;
        top: 10rem;
        display: flex;
        justify-content: space-between;
        width: 98vw;
        margin: 0 auto;
        transform: translateX(1rem);

        &--top {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}