@use './styles/partials/colours' as *;

body {
    background-color: $primary-background
}

.button {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 3px solid black;
    background-color: $button;
    z-index: 999;

    &--small {
        padding: .5rem 1rem;
        border-radius: 1rem;
        border: 3px solid black;
        background-color: $button;
        z-index: 999;

        &:hover {
            cursor: pointer;
        }
    }

    &--end {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
    }

    &--ability {
        position: absolute;
        left: 2rem;
        bottom: 6rem;
    }

    &--disabled {
        background-color: $disabled;
    }

    &:hover {
        cursor: pointer;
    }
}