.seven-player-game {


    &__flex-container {
        position: relative;
        top: 14rem;
        display: flex;
        justify-content: space-between;
        width: 98vw;
        margin: 0 auto;
        transform: translateX(1rem);

        &--top {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-52%);
            gap: 10vw;
        }
    }
}